<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books rented</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <div th:replace="~{fragments.html :: menu_2}"></div>
    <div class="books">
        <h3>Your Rented Books</h3>
        <table>
            <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>ISBN</td>
                <td>User Name</td>
                <td>User Surname</td>
                <td th:if="${isLogged}">Return</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${userRentedBooks}" th:if="${element.returnBookDate == null}" class="book">
                <td th:text="${element.book.title}" class="title"></td>
                <td th:text="${element.book.author}"></td>
                <td th:text="${element.book.isbn}"></td>
                <td th:text="${element.user.name}"></td>
                <td th:text="${element.user.surname}"></td>
                <td th:if="${isLogged} and ${element.book.rentStatus}">
                    <a th:href="@{/account/return/{id}(id=${element.id})}">Return</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>