<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books rented</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <div th:replace="~{fragments.html :: menu_2}"></div>
    <div class="books">
        <h3 class="book-header">Your Rented Books</h3>
        <table class="book-table">
            <thead>
            <tr class="table-header-row">
                <th class="table-header">Title</th>
                <th class="table-header">Author</th>
                <th class="table-header">ISBN</th>
                <th class="table-header">User Name</th>
                <th class="table-header">User Surname</th>
                <th th:if="${isLogged}" class="table-header">Return</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${userRentedBooks}" th:if="${element.returnBookDate == null}" class="book-row">
                <td th:text="${element.book.title}" class="book-title"></td>
                <td th:text="${element.book.author}" class="book-author"></td>
                <td th:text="${element.book.isbn}" class="book-isbn"></td>
                <td th:text="${element.user.name}" class="book-user-name"></td>
                <td th:text="${element.user.surname}" class="book-user-surname"></td>
                <td th:if="${isLogged} and ${element.book.rentStatus}" class="book-actions">
                    <a th:href="@{/account/return/{id}(id=${element.id})}" class="btn-primary">Return</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>