<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/common.css">
    <title>Book app Spring</title>
</head>
<body>
<div id="logo">
    <h1>Dodawanie książek</h1>
</div>
<div th:replace="~{/fragments.html :: menu}"></div>
<div id="content">
    <form method="post">
        <input type="text" placeholder="tytul" th:field="*{newBook.title}" required>
        <input type="text" placeholder="autor" th:field="*{newBook.author}" required>
        <input type="text" placeholder="ISBN" th:field="*{newBook.isbn}" required>
        <input type="submit" class="button" value="Dodaj">
    </form>
</div>

</body>
</html>