<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
    <div th:replace="~{fragments.html :: menu}"></div>

    <div id="content-wrapper">
        <h1>Contact Information</h1>
        <address>
            Super Księgarnia<br>
            ul. Słoneczna 34/400<br>
            Kraków 31-233<br>
            Phone: <a href="tel:+123456789">+12 345 678 9</a><br>
            Email: <a href="mailto:info@superksiegarnia.com">info@superksiegarnia.com</a>
        </address>
    </div>
</body>
</html>